// Breakpoints
$breakpoint-mobile: 600px;
$breakpoint-tablet: 1205px;
$breakpoint-desktop: 1920px;

// Colors
$color-text-white: #ffffff;
$color-text-black: #191919;

$color-button-yellow: #f4df74;

$color-block-background-gray: #e6e6e6;

$color-background-white: #ffffff;
$color-background-gray: #eeeeee;
$color-background-dark: #191919;

// Fonts
$font-stack: 'RF Dewi', 'RF Dewi Expanded', 'Inter';